@using System.Data.Entity.Core.Metadata.Edm
@using BForms.Html
@model ZelectroCom.Web.Areas.Member.ViewModels.Section.SectionListVm
@{
    ViewBag.Title = "Разделы";
    Layout = "~/Areas/Member/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1>
            Разделы <small>Управление разделами сообщества</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-list-alt"></i> Разделы</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @Html.ActionLink("Добавить", "Add", null, new { @class = "btn btn-default" })
    </div>
</div>

@using (Html.BsGridWrapper())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_SectionsGrid", Model)
}