@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="ztitle"><h1 class="text-danger">Ошибка.</h1></div>
<h3 class="text-danger">При обработке вашего запроса возникла ошибка. Если ошибка возникает повторно, пожалуйста, расскажите нам как это у вас получилось. E-mail для связи: <a href="mailto:support@zelectro.cc">support@zelectro.cc</a><br/>Спасибо!</h3>

