@{
    ViewBag.Title = "Контакты";
    ViewBag.PageTitle = "Контактная информация";
}

@section Meta {
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
}


<br/>
<ul>
    <li>Нашли ошибку в работе сайта?</li>
    <li>Есть интересная идея, которую мы могли бы реализовать?</li>
    <li>Интересует разработка проекта (программная/аппаратная часть)?</li>
    <li>... любые другие вопросы и предложения</li>
</ul>
<p>Отправляйте нам на: <a href="mailto:support@zelectro.cc">support@zelectro.cc</a></p>
<p>Мы с интересом рассмотрим любые ваши предложения коммерческого и иного плана. Спасибо, что вы с нами!</p>
