@model ZelectroCom.Web.ViewModels.Home.PostsListVm

<div id="posts" class="scroll">

    @if (Model.PostsList.Any())
    {
        foreach (var item in Model.PostsList)
         {
             <div class="post">
                 @Html.Partial("../Post/_PostIndex", @item)
             </div>
         }
    }
    else
    {
        @:<br/>Посты не найдены
    }

</div>

<div id="pagination">
    <a href="@Model.UrlBack" @if (!Model.IsFirstPage) { @: class="prev"
                                      }>Предыдущие</a>
    <a href="@Model.UrlNext" @if (!Model.IsLastPage)
                               {
                                   @:class="next"
                               }>Следующие</a>
</div>