@model ZelectroCom.Web.ViewModels.Post.PreviewArticleVm

@{
    ViewBag.Title = "Предварительный просмотр статьи";
}

<!-- Blog Post Content Column -->
<div class="col-lg-8">
    <!-- Blog Post -->
    <!-- Title -->
    <h1>@Model.Title</h1>
    <p class="lead">
        автор: <a href="#">@Model.Author</a>
    </p>
    <hr>
    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> Опубликовано @Model.PublishTime</p>
    <hr>
    <!-- Post Content -->
    <div class="article">@Html.Raw(Model.Text)</div>
    <hr>
</div>