@using BForms.Html
@using BForms.Models
@using ZelectroCom.Web.Infrastructure

@model ZelectroCom.Web.Areas.Member.ViewModels.Article.PublicationsSearchVm

@using (Html.BsBeginForm(@Html.GetTheme()))
{
    <div class="col-sm-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.Title)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Book)
            @Html.BsInputFor(m => m.Title)
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 grid_toolbar_submit">
        <button type="submit" class="btn btn-theme js-btn-search">Поиск</button>
        <a href="#" class="js-btn-reset">Сбросить</a>
    </div>
}