body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*LAYOUT*/
.zheader {
    padding-bottom: 9px;
    margin-bottom: 24px;
    /*border-bottom: 1px solid #eee;*/
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

/* Articles */

.article h2 {
  font-size: 21px;
}
.article h3 {
  font-size: 18px;
}

.z-img-responsive {
    max-width: 100%;
    height: auto !important;
    display: block;
}

/**/
.side-widget {
    margin-bottom: 20px;
}

.z-btn-primary {
    color: #fff;
    background-color: #1f7a34;
    border-color: #1e7531;
}

.z-btn-primary:hover,
.z-btn-primary:focus,
.z-btn-primary.focus,
.z-btn-primary:active,
.z-btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1b672c;
  border-color: #186128;
}