@model IEnumerable<string>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Разделы</h4>
    </div>
    @foreach (var item in Model)
    {
        <div class="panel-body">@item</div>   
    }
</div>